<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>PowerTweet</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
		
	<body>
		<div ng-app="powerTweet" ng-controller="validationCtrl as v">
		<div class="jumbotron text-center">
			<h1>PowerTweet</h1>
		</div> <!-- headline -->
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container">
					<ul class="nav navbar-nav navbar-right">
						<li><button class="btn-default" ng-click="v.getItems('pending')">Pending</button></li>
						<li><button class="btn-default" ng-click="v.getItems('validated')">Validated</button></li>
						<li><button class="btn-default" ng-click="v.getItems('rejected')">Rejected</button></li>
						<li><button class="btn-default" ng-click="v.getItems('archived')">Archived</button></li>
					</ul>
				</div>
			</nav>
			<table class="table" ng-model="items">
				<thead>
					<th>id</th>
					<th>Item</th>
					<th>Tweet</th>
					<th>Publish?</th>
				</thead>
				<tr ng-repeat="x in items">
					<td>{{ x.id }}</td>
					<td style="word-wrap: break-word;max-width:160px;min-width:160px"><a href="{{x.url}}">{{ x.title }}</a></td>
					<td style="width: 400px"><label>Tweet as [{{x.ptTweetTxt.length + 23}}]: <input ng-model="x.ptTweetTxt" ng-model-options="{updateOn: 'blur'}" onblur ng-change="v.setTweetTxt($index)" style="width: 400px;"/></label></td>
					<td>
						<label>Pending <input type="radio" ng-model="x.ptStatus" ng-change="v.setStatus($index)" value="pending"/></label>
						<label>Validated <input type="radio" ng-model="x.ptStatus" ng-change="v.setStatus($index)" value="validated"/></label>
						<label>Rejected <input type="radio" ng-model="x.ptStatus" ng-change="v.setStatus($index)" value="rejected"/></label>
						<label>Archived <input type="radio" ng-model="x.ptStatus" ng-change="v.setStatus($index)" value="archived"/></label>
					</td>
				</tr>
			</table>
		</div> <!-- container -->
		</div>
		<script src="powertweet.js"></script>
	</body>
</html>
